

.product:hover{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	animation: flip-with-scale 6s infinite linear;
  }
  
  /*.rotate {
	  animation: rotation 8s infinite linear;
	  background-color: white;
	}*/
	
	@keyframes rotation {
	  from {
		transform: rotate(0deg);
	  }
	  to {
		transform: rotate(359deg);
	  }
	}
  
	@keyframes flip-with-scale {
	  0% {
		  transform: perspective(400px) scaleX(1);
	  }
  
	  100% {
		  transform: perspective(400px) scaleX(-1);
	  }
  }
  
   @keyframes flip-with-rotate {
	  0% {
		  transform: perspective(400px) rotateY(0);
	  }
  
	  100% {
		  transform: perspective(400px) rotateY(180deg);
	  }
  }
  
  



@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 100%;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}


.bg-dark{
	background-color: #055f69;
}



.form-control{
	width:250px;
	display: inline-block;
	padding: 5px;
	height: 40px;
	
}


.form-field{
	width:300px;
	padding: 5px;
	display: inline-block;
	
}


.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}


.hidden{
	display: none!important;
}



.fa-phone{
	padding: 10px 15px 10px 50px;
	color: #055f69;}

.fa-trash-o:hover{
	transform: rotate(0deg);
	background-color: rgb(202, 175, 23);}
  
  
  .rotate {
	  transform: rotate(180deg);
	}



#srchInput,#srchSMRYInput,#srchRCDInput, #srchPLGinput{
  background-image: url('/static/images/srchIcon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 100%;
  font-size: 16px;
  padding: 12px 50px 12px 60px;
  /*border: 1px solid #ddd;*/
  border: 0px 0px 0px 0px;
  margin-bottom: 12px;}


.exportUL, .exportUL ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-decoration: none;
}  


  #srchUL, #srchSMRY, #srchRCD , #srchPLG{
	list-style-type: none;
	padding: 0;
	margin: 0;
  }
  
  #srchUL li a, #srchSMRY li a, #srchRCD li , #srchPLG li{
	border: 1px solid white;
	margin-top: -1px; /* Prevent double borders */
	background-color:none;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	color: rgb(10, 10, 10);
	display: block
  }
  

.tbl-head{
	text-align: center;
	width: 150px;
}


.tbl-head2{
	text-align: center;
	width: 100px;
	
}


#srchUL li a:hover:not(.header) {
	color: #c9bc06;}


.fa-phone:hover{
	background-color: #3fb9d8;
	color: #fff;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	animation: flip-with-scale 3s infinite linear;}