<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    
    <title></title>
</head>
<body>

    {% block content %}
    <div class="container-fluid">
        <br><br>
        <center>
            <div class="col-lg-6">              
                <img src="{% static 'images/lg2.png' %}" alt=""   width="90"  height="140">
            </div>
            <hr>  
        </center>
    </div>

    <!--add receipt form-->
    <div class="container-fluid">
        <center>
            <div class="">           
            {% csrf_token %}
                <form action="", method="post" nonvalidate>
                    {% csrf_token %}
                    {% include 'formTemplate.html' with form=form %} 
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <small class="{{ message.tags}}"  style="color: brown;">{{message}}</small>
                        {% endfor %}
                    </ul>
                    {% endif %}      
                    <br>
                    <button type="submit" class="btn btn-secondary"  id="login"> Commit</button>    
                </form>
                <br>
                <a href="{% url 'pledgesummary' %}">Payment
                    <span class="fa fa-forward">

                    </span>
                </a>
            </div>
        </center>
    </div>   
    {% endblock %}
</body>
</html>