<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    
    <title></title>
</head>
<body>

    {% block content %}
    <div class="container-fluid">
      <br><br>
        <center>
            <div class="col-lg-6">              
                <img src="{% static 'images/lg2.png' %}" alt=""   width="100"  height="150">
            </div>             
        </center>
        
        <input type="text" id="srchSMRYInput" onkeyup="SMRYfunction()" placeholder="Search for member" title="Type in a name">   
    </div>

    
    <div class="container-fluid">         
      <ul id="srchSMRY">
        {% for i in plg %}
            <li>  
            <center>
              <div class="card mb-3" style="max-width: 500px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="{% static 'images/icon.png' %}" class="img-fluid rounded-start" alt="..." width="100" height="150"> 
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title" style="text-align: left;"> <a href="">Name: {{i.name}}</a></h5>
                        <h6 class="card-text" style="text-align: left;" > Commulative Pledges:  GHc: {{i.get_pledge}}</h6>
                        <h6 class="card-text" style="text-align: left;" > Total Returns: GHc: {{i.get_total_rct}}</h6>
                        <h6 class="card-text" style="text-align: left;" > Total Remains  : GHc: {{i.get_bal}}</h6>
                        <p class="card-text" style="text-align: left;">
                           <small class="text-body-secondary">payable: {{i.get_payable}}</small>
                           <a href="tel: i.contact">{{i.contact}}  <span class="fa fa-phone"></span></a>
                             
                        </p>
                      </div>
                    </div>
                  </div>
              </div>  
          </center>
          </li>        
        {% endfor %}
      </ul>           
    </div>
           
    {% endblock %}


    

    

</body>
</html>



   {% for i in rng %}
    <div class="container-fluid">
        <center>
            <div class="card mb-3" style="max-width: 500px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'images/icon.png' %}" class="img-fluid rounded-start" alt="..." width="100" height="150">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title" style="text-align: left;">Name: Ayittey Odame George</h5>
                      <h6 class="card-text" style="text-align: left;" > Pledge:  GHc: 1,000</h6>
                      <h6 class="card-text" style="text-align: left;" > Returned: GHc: 1,000</h6>
                      <h6 class="card-text" style="text-align: left;" > Remains  : GHc: 1,000</h6>
                      <p class="card-text" style="text-align: left;"><small class="text-body-secondary">Last seen 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
            </div>  
        </center>
    </div>
    {% endfor %}



    {% for i in rng %}
    <div class="container-fluid">
        <center>
            <div class="card mb-3" style="max-width: 500px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'images/icon.png' %}" class="img-fluid rounded-start" alt="..." width="100" height="150">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title" style="text-align: left;">Name: Ayittey Odame George</h5>
                      <h6 class="card-text" style="text-align: left;" > Pledge:  GHc: 1,000</h6>
                      <h6 class="card-text" style="text-align: left;" > Returned: GHc: 1,000</h6>
                      <h6 class="card-text" style="text-align: left;" > Remains  : GHc: 1,000</h6>
                      <p class="card-text" style="text-align: left;"><small class="text-body-secondary">Last seen 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
            </div>  
        </center>
    </div>
    {% endfor %}